<div class="picture">
  <div class="image1"><img class="catAtLeft" src="../../assets/catleft.jpg" alt="CatAtLeft"></div>
  <div class="image2"><img class="catAtRight" src="../../assets/catright.jpg" alt="CatAtRight"></div>
</div>
<div class="center">
  <div class="container-0">
    <ul class="dialogues">
      <li *ngFor="let m of this.chatMessages">
        <div id="row1">
          <div id="column1">
            <img class="avatar" src="{{m.userURL}}" alt="Avatar">
          </div>
          <div id="column2">
            {{m.message}}
          </div>
        </div>
      </li>
    </ul>
    <div class="chatbox-container-0">
      <div class="chatbox-container-1">
        <input type="text" 
            name="chat"
            class="chatbox"
            placeholder="Hi there! Type here to talk to me."
            (keyup.enter)="onEnter()" [(ngModel)]="userInput">
      </div>
    </div>
  </div>
</div>
